{{!
    My Installation page.
    @template local_customerportal/installation_view
    @copyright 2026 eLeDia GmbH
    @license   https://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
}}
<div class="path-local-customerportal lh-plugin-shell lh-plugin-shell--wide">
    {{> local_customerportal/shell_header }}

    <div class="lh-plugin-content-area">
        {{#error}}
        <div class="alert alert-warning">{{error}}</div>
        {{/error}}

        {{#installation}}
        <article class="lh-plugin-card mb-4">
            <div class="lh-plugin-card__top">
                <div class="lh-plugin-card__icon lh-plugin-card__icon--generic" aria-hidden="true">
                    <i class="fa fa-server"></i>
                </div>
                <div class="lh-plugin-card__meta">
                    <div class="lh-plugin-card__kicker lh-eyebrow lh-eyebrow--upper">{{#str}} installation_heading, local_customerportal {{/str}}</div>
                    <h2 class="lh-plugin-card__title">{{label}}</h2>
                </div>
            </div>
            <table class="table table-sm generaltable">
                <tbody>
                    <tr>
                        <th scope="row">{{#str}} installation_moodleversion, local_customerportal {{/str}}</th>
                        <td>{{moodle_version}}</td>
                    </tr>
                    <tr>
                        <th scope="row">{{#str}} installation_profile, local_customerportal {{/str}}</th>
                        <td>{{profile}}</td>
                    </tr>
                </tbody>
            </table>
        </article>
        {{/installation}}

        <article class="lh-plugin-card">
            <div class="lh-plugin-card__top">
                <div class="lh-plugin-card__icon lh-plugin-card__icon--community" aria-hidden="true">
                    <i class="fa fa-line-chart"></i>
                </div>
                <div class="lh-plugin-card__meta">
                    <div class="lh-plugin-card__kicker lh-eyebrow lh-eyebrow--upper">{{#str}} installation_local_heading, local_customerportal {{/str}}</div>
                    <h2 class="lh-plugin-card__title">{{siteinfo_release}}</h2>
                </div>
            </div>
            <table class="table table-sm generaltable">
                <tbody>
                    <tr>
                        <th scope="row">{{#str}} installation_moodleversion, local_customerportal {{/str}}</th>
                        <td>{{siteinfo_release}}</td>
                    </tr>
                    <tr>
                        <th scope="row">{{#str}} installation_registered_users, local_customerportal {{/str}}</th>
                        <td>{{siteinfo_registered}}</td>
                    </tr>
                    <tr>
                        <th scope="row">{{#str}} installation_active_users, local_customerportal {{/str}}</th>
                        <td>{{siteinfo_active}}</td>
                    </tr>
                    <tr>
                        <th scope="row">{{#str}} installation_courses, local_customerportal {{/str}}</th>
                        <td>{{siteinfo_courses}}</td>
                    </tr>
                    <tr>
                        <th scope="row">{{#str}} installation_cron_lastrun, local_customerportal {{/str}}</th>
                        <td>
                            {{#siteinfo_cron_ok}}<span class="badge bg-success"><i class="fa fa-check" aria-hidden="true"></i></span>{{/siteinfo_cron_ok}}
                            {{^siteinfo_cron_ok}}<span class="badge bg-warning text-dark"><i class="fa fa-warning" aria-hidden="true"></i></span>{{/siteinfo_cron_ok}}
                            {{siteinfo_lastcron}}
                        </td>
                    </tr>
                    {{#siteinfo_has_failed}}
                    <tr>
                        <th scope="row">{{#str}} installation_cron_failed_tasks, local_customerportal {{/str}}</th>
                        <td><span class="badge bg-danger">{{siteinfo_failed}}</span></td>
                    </tr>
                    {{/siteinfo_has_failed}}
                </tbody>
            </table>
        </article>
    </div>
</div>
