{{!
    Portal tab navigation.
    @template local_customerportal/nav_tabs
    @copyright 2026 eLeDia GmbH
    @license   https://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
}}
<nav class="lh-plugin-section-nav path-local-customerportal-tabs" aria-label="{{#str}} nav_aria_label, local_customerportal {{/str}}">
    <a class="lh-plugin-section-nav__item"
       href="{{url_dashboard}}" {{#active_dashboard}}aria-current="page"{{/active_dashboard}}>
        <i class="fa fa-tachometer" aria-hidden="true"></i>
        {{#str}} nav_dashboard, local_customerportal {{/str}}
    </a>
    <a class="lh-plugin-section-nav__item"
       href="{{url_installation}}" {{#active_installation}}aria-current="page"{{/active_installation}}>
        <i class="fa fa-server" aria-hidden="true"></i>
        {{#str}} nav_installation, local_customerportal {{/str}}
    </a>
    <a class="lh-plugin-section-nav__item"
       href="{{url_myplugins}}" {{#active_myplugins}}aria-current="page"{{/active_myplugins}}>
        <i class="fa fa-puzzle-piece" aria-hidden="true"></i>
        {{#str}} nav_myplugins, local_customerportal {{/str}}
    </a>
    <a class="lh-plugin-section-nav__item"
       href="{{url_requests}}" {{#active_requests}}aria-current="page"{{/active_requests}}>
        <i class="fa fa-inbox" aria-hidden="true"></i>
        {{#str}} nav_requests, local_customerportal {{/str}}
    </a>
</nav>
