{{!
    Portal tab navigation.
    @template local_customerportal/nav_tabs
    @copyright 2026 eLeDia GmbH
    @license   https://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
}}
<nav class="lh-plugin-section-nav path-local-customerportal-tabs" aria-label="{{#str}} nav_aria_label, local_customerportal {{/str}}">
    <a class="lh-plugin-section-nav__item"
       href="{{url_dashboard}}" {{#active_dashboard}}aria-current="page"{{/active_dashboard}}>
        <i class="fa fa-tachometer" aria-hidden="true"></i>
        {{#str}} nav_dashboard, local_customerportal {{/str}}
    </a>
    <a class="lh-plugin-section-nav__item"
       href="{{url_myplugins}}" {{#active_myplugins}}aria-current="page"{{/active_myplugins}}>
        <i class="fa fa-plug" aria-hidden="true"></i>
        {{#str}} nav_myplugins, local_customerportal {{/str}}
    </a>
    <a class="lh-plugin-section-nav__item"
       href="{{url_catalog}}" {{#active_catalog}}aria-current="page"{{/active_catalog}}>
        <i class="fa fa-cubes" aria-hidden="true"></i>
        {{#str}} nav_catalog, local_customerportal {{/str}}
    </a>
    <a class="lh-plugin-section-nav__item" href="{{url_requests}}">
        <i class="fa fa-life-ring" aria-hidden="true"></i>
        {{#str}} nav_requests, local_customerportal {{/str}}
    </a>
    <a class="lh-plugin-section-nav__item"
       href="{{url_upgrade}}" {{#active_installation}}aria-current="page"{{/active_installation}}>
        <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
        {{#str}} nav_upgrade, local_customerportal {{/str}}
    </a>
    <a class="lh-plugin-section-nav__item"
       href="{{url_ai}}" {{#active_ai}}aria-current="page"{{/active_ai}}>
        <i class="fa fa-magic" aria-hidden="true"></i>
        {{#str}} nav_ai, local_customerportal {{/str}}
    </a>
    <a class="lh-plugin-section-nav__item"
       href="{{url_ai_setup}}" {{#active_ai_setup}}aria-current="page"{{/active_ai_setup}}>
        <i class="fa fa-magic" aria-hidden="true"></i>
        {{#str}} nav_ai_setup, local_customerportal {{/str}}
    </a>
    <a class="lh-plugin-section-nav__item" href="{{url_invoices}}">
        <i class="fa fa-file-text-o" aria-hidden="true"></i>
        {{#str}} nav_invoices, local_customerportal {{/str}}
    </a>
</nav>
